; Create a config with all defaults: ansible-config init --disabled > ansible2.cfg
; CAUTION: Ansible will just ignore this file, if the directory is world-writable.

[defaults]
# (pathlist) Comma separated list of Ansible inventory sources
;inventory=/etc/ansible/hosts

# (boolean) Sets the default value for the any_errors_fatal keyword, if True, Task failures will be considered fatal errors.
any_errors_fatal=True

# TODO: this might be useful to just store it as ENV or something
# (path) The password file to use for the become plugin. --become-password-file.
# If executable, it will be run and the resulting stdout will be used as the password.
;become_password_file=

# (boolean) Ansible can issue a warning when the shell or command module is used and the command appears to be similar to an existing Ansible module.
# These warnings can be silenced by adjusting this setting to False. You can also control this at the task level with the module option ``warn``.
# As of version 2.11, this is disabled by default.
command_warnings=True

# (bool) This controls whether a failed Ansible playbook should create a .retry file.
retry_files_enabled=True

# Because on Ubuntu /bin/sh links to /bin/dash and that may cause troubles.
# (string) This indicates the command to use to spawn a shell under for Ansible's execution needs on a target. Users may need to change this in rare instances when shell usage is constrained, but in most cases it may be left as is.
executable=/bin/bash

# Where Ansible will search for roles.
# Where ansible-galaxy will install roles into.
roles_path=./.dependencies/roles

# Where Ansible will search for collections.
# Where ansible-galaxy will install collections into.
collections_path=./.dependencies/collections

# Silently use the Python that Ansible discovered automatically on the target.
# See https://docs.ansible.com/projects/ansible-core/2.20/reference_appendices/interpreter_discovery.html
interpreter_python=auto_silent 

# File to which Ansible will log on the controller. When empty logging is disabled.
log_path=ansible.log


## Output
# Always use ANSI colors, even if we are not on a TTY.
# Use environment variable `ANSIBLE_FORCE_COLOR=False` to unset this.
force_color=true

# See https://docs.ansible.com/projects/ansible/latest/plugins/callback.html#callback-plugins
# "These plugins handle the main console output. Only one can be active. They always get the event first; the rest of the callbacks get the event in the order they are configured."
# Run `ansible-doc -t callback -l` for a list of plugins.
# Defaults to `default`/`ansible.builtin.default`.
# Alternatives: `minimal`, ...?
stdout_callback=default

# The `ansible` ad-hoc command specifically uses a different callback plugin (`minimal`) for stdout.
# This configures it to use the configured `stdout_callback`.
bin_ansible_callbacks=true

# Configuration option for https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/default_callback.html
# The default is `json`.
# Alternative: `yaml` (which uses `callback_format_pretty=true` by default).
callback_result_format=yaml

# Configuration option for https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/default_callback.html
# "When set to true and used with the yaml result format, this option will modify module responses in an attempt to produce a more human friendly output at the expense of correctness, and should not be relied upon to aid in writing variable manipulations or conditionals."
# If `callback_result_format=json`, the JSON can be made pretty:
# callback_format_pretty=true

# Configuration option for https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/default_callback.html
# This adds output that shows when a task starts to execute for each host.
# This is shown before the "ok: ..." (which is shown when finished).
show_per_host_start=true

# Configuration option for https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/default_callback.html
# When a task fails, display the path to the file containing the failed task and the line number.
# This information is displayed automatically for every task when running with -vv or greater verbosity.
show_task_path_on_failure=false


[diff]
# (bool) Configuration toggle to tell modules to show differences when in 'changed' status, equivalent to ``--diff``.
;always=False

# (integer) How many lines of context to show when displaying the differences between files.
;context=3

[ssh_connection]
# WARNING: Needs ansible_user to be root. Disable if you want to use `become`
#          See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining
pipelining=True
